<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>

    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Product List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the products -->
        <tr th:each="customer : ${customer}">

            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.address}"></td>
<!--            <td>-->
<!--                <form th:action="@{/delete_product}" method="post">-->
<!--                    <input type="hidden" th:name="id" th:value="${product.product_id}" />-->
<!--                    <button type="submit">Xóa</button> &lt;!&ndash; Nút xóa &ndash;&gt;-->
<!--                </form>-->
<!--            </td>-->
            <td><a th:href="@{/{id}(id=${customer.id})}">Edit</a></td>

        </tr>
        </tbody>
    </table>
    <button><a th:href="@{/addCustomer}">add Customer</a> </button>
</div>

<!-- Include Bootstrap JavaScript and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
